/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

i {
    color:white;
}
.clearfix {
    content:"";
    display: table;
    clear: both;
}

/* Main */
main {
    /* display: flex; */
    justify-content: center;
    background-color: black;
    height: calc(100vh - 80px);
    padding: 30px;
    color:white;
    overflow: hidden;
}

.img-container {
   max-width: 20%;
   border: 5px solid black;
   height: 165px;
   overflow: hidden;
   position: relative;
}

.img-container img {
    width: 100%;
}

.name {
    position:absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    font-size: 14px;
}

.row {
    display: flex;
    justify-content: center;
}

nav {
    height: 80px;
    background-color: #191a1b;
}

.view {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.view i {
    color:white;
    margin: 10px;
}

.screen {
    display: flex;
    flex-wrap: wrap;
}

.main i {
    color:white;
}

.arrow i {
    font-size: 55px;
    transform: rotate(270deg);
}

.arrow:last-child i {
    color: #46aaff;
    transform: rotate(90deg);
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.container {
    display: flex;
    align-items: center; 
}



/* Nav */

nav{
    display: flex;
    color:white;
    justify-content: space-between;
}

nav i {
    font-size: 20px;
    margin:15px;
}
.settings {
    display: flex;
}

.mic {
    margin-left: 20px;
}

.menu {
    display: flex;
}

nav .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .center {
    margin-left: 20px;
}
.end-meeting {
    justify-content: center;
    color:red;
    background-color: #363739;
    padding: 0 15px;
}

.share i {
    color:#47c204;
}